a {
    padding: 10px;
    color: darkgray;
    text-decoration: none;
}
a:hover {
    padding: 10px;
    color: white;
    text-decoration: none;
}



.grid-container {
    display:grid;
    grid-template-areas:
    'header header'
    'main main'
    'footer footer' ;
    background-color: lightgoldenrodyellow;
}

.grid-header {
    grid-area: header;
    background-color: darkslategrey;
    display: inline-flexbox;
    width: 100%;
    padding: 20px;
}

 .grid-content {
    grid-area: main;
    padding: 20px;
}

 .grid-footer {
    grid-area: footer;
}

.grid-container > div {
    max-width: 100%;
    min-width: 350px;
    margin-left: auto;
    margin-right: auto;
    
    /* background-color: lightgrey; */
}

#register-title {
    color: black;
}

#register-main {
    margin-bottom: 40px;
    margin-top: 40px;
}

.register {

    padding: 20px;
    
}

.error {
    font-size: smaller;
}

nav {
    display: inline-block;
}

.author {
    font-size: smaller;
    color: darkgray;
    border-bottom: 2px ;
    border-color: darkgray;
}

.premium {
    font-size: smaller;
    color: coral;
    border: 5px black ;
}

.logout {
   padding: 1px 5px 1px 5px;

}

.navigation, .welcome {
    color: lightgoldenrodyellow;
}

.navigation-table {
    padding-right: 150px ;
    padding-left: 20px;

}

.login-table {
    padding-left: 20px;
    padding-right: 20px;

}

.navigation-table, .login-table {
    display: inline-block;
}

.article-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.article-data {
  
}

.article-title {
    color: coral;
}
.created-updated {
    color: darkslategrey;

}

.article-tables {
    max-width: 650px;
    min-width: 650px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px 5px 10px;
    border: solid darkslategrey 1px;
}
.article-fully {
    max-width: 1240px;
    min-width: 650px;
    margin-top: 20px;
    margin-bottom: 100px;
    
}

.article-links {
    
    color: coral;
    padding: 0px;
}
.article-links:hover {
    
    color: darkred;
    padding: 0px;
}

.edit-button {
    font-size: smaller;
    color: darkslategrey;
    padding: 0px;
}
.edit-button:hover { 
    color: black;
    padding: 0px;
}

input {
   
}
.comment{
    border: solid darkslategrey 1px;
    padding: 5px 20px 20px 20px;
    min-width: 70%;
}
.comments {
    max-width: 70%;
    
}

.comment-text {
    font-size: smaller ;
}

.comment-username {
    color: coral;
}

.categories-article{
    color: darkslategrey;
    font-weight: normal;
    font-size: smaller;
}

* {
    font-family:Helvetica, Arial,  sans-serif ;
}