a {
    padding: 10px;
    color: darkgray;
    text-decoration: none;
}



.grid-container {
    display:grid;
    grid-template-areas:
    'header header'
    'content content'
    'footer footer' ;
    background-color: lightgoldenrodyellow;
}

.grid-header {
    grid-area: header;
    background-color: darkslategrey;
    display: inline-flexbox;
}

 .grid-content {
    grid-area: content;
    padding: 20px;
}

 .grid-footer {
    grid-area: footer;
}

.grid-container > div {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    /* background-color: lightgrey; */
}

#register-title {
    color: white;
}

#register-main {
    margin-bottom: 40px;
    margin-top: 40px;
}

.register {
    border: lightsalmon;
    border-radius: 30px;
    padding: 20px;
    background-color: lightsalmon;
    
}

.error {
    font-size: smaller;
}

nav {
    display: inline-block;
}

.author {
    font-size: smaller;
    color: darkgray;
    border-bottom: 2px ;
    border-color: darkgray;
}

.premium {
    font-size: smaller;
    color: coral;
    border: 5px black ;
}

.logout {
   padding: 1px 5px 1px 5px;

}

.navigation, .welcome {
    color: lightgoldenrodyellow;
}

.navigation-table {
    padding-right: 150px ;

}

.login-table {

}

.navigation-table, .login-table {
    display: inline-block;
}

* {
    font-family:Helvetica, Arial,  sans-serif ;
}